- name: create ext volume for data
  file: state=directory path={{ ext_hadoop_volume }}

- name: create ext volume for configs
  file: state=directory path={{ ext_hadoop_conf_volume }}

- name: check if a hdfs-journalnode container is started
  command: bash -c "docker ps | grep hdfs-journalnode"
  ignore_errors: True
  register: result

- name: start an hdfs-journalnode container
  command: docker run -d {% if docker_net_false|default(False) %} -n=false {% endif %} -h {{ ansible_hostname }}{% if docker_net_false|default(False) %}-jn{% endif %} --dns {{ ansible_docker0.ipv4.address }} --dns 8.8.8.8 --dns-search node.dc1.consul -p={{ journalnode_port }}:8485 -v {{ ext_hadoop_volume }}:/var/hadoop -v {{ ext_hadoop_conf_volume }}:/hadoop/conf -name hdfs-journalnode gitinsky/hdfs-journalnode:0.1.1
  register: docker_id
  when: result|failed

- name: start network
  shell: /root/ovswork.sh br10 {{ docker_id.stdout }} {{ network_map[ '' + ansible_hostname + '-jn' ] }}/24 {{ network_map[ '_broadcast' ] }} {{ network_map['_gateway'] }}
  when: (docker_id.changed == True) and (docker_net_false|default(False) == True)
